body {
  background-color: #2b2b2b;
}
nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    min-width: 500px;
}

nav ul li {
     display: inline-block;
}

nav ul li a {
    padding: 10px;
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
nav a:hover {
     color: black;
     background-color: lightsteelblue;

}
h1 {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-slide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.205),rgba(0, 0, 0, 0.753)), url(images/zintle.jpg);
    background-size: cover;
    height: 100vh;
}

.portfolio-slide p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.portfolio-slide a {
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.profile_pic {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: crimson;
}

.profile_pic img{
    width: 400px;
    height: 400px;
    padding: 10px 20px 20px 20px;
}

.portfolio {
    text-align: center;
    color: crimson;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: darkgreen;
  border-width: 10px;
  width: 30%;
}

.content img {
    width: 100px;
    height: 100px;
    padding-top: 20px;
}

.content img:hover {
  color: white;
  background-color: lightgreen;
}

.collapsible {
  background-color: darkcyan;
	background-size: cover;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: darkgreen;
    border-width: 8px;
    width: 30%;
}
  .p {
    color: white;
  }
  .circular {
    border-radius: 100%;
  }
  
  .active, .collapsible:hover {
    background-color: lightsteelblue;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .contact {
    background: url("images/books.jpeg") no-repeat;
	background-size: cover;
  }
  .contact a {
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.contact-form {
  background: rgba(0, 0, 0, 0.938);
  padding-top: 90px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .inputs {
    text-align: center;
  }

  input[type=text], select, textarea {
    background-color: #2b2b2b;
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: horizontal;
    color: #ccc;
  }
  
  input[type=submit] {
    background-color: lightgreen;
    color: black; 
    font-size: 17px;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgba(245, 222, 179, 0.76);
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .social-media img {
    height: 30px;
    width: 30px;
    padding: 20px 10px 20px 10px;
} 

.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}
